.ocean-water, .boat, .treasure, .iceberg {
  width: 25px;
  height: 25px;
  display:inline-block;
}

.ocean-water {
  background-color: #74b9ff;
}

.treasure {
  background-color: #d2b48c;
  border-radius: 30%;
}

.boat {
  animation: swaytwo 3s ease-in-out alternate infinite;
}

.iceberg {
  position: relative;
  background: linear-gradient(to bottom, #cbdff3 60%, #74b9ff 40%);
  clip-path: polygon(
    10% 0%,
    20% 15%,
    40% 0%,
    60% 15%,
    80% 0%,
    90% 15%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 15%,
    10% 0%
  );
  border-radius: 40%;
  animation: sway 2s ease-in-out alternate infinite;
}

.iceberg div {
  position: absolute;
  border: 3px solid #cbdff3;
  border-radius: 50%;
  animation: ripple-effect 2s ease-out infinite;
}

.iceberg div:nth-child(2) {
  animation-delay: -0.5s;
}

.visited {
  animation: pathCalculationAnimation 1s ease-out alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes pathCalculationAnimation {
  0% {
    transform: scale(0.9);
    background-color: #d20085;
    border-radius: 100%;
  }

}

@keyframes sway {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@keyframes swaytwo {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}


@keyframes ripple-effect {
  0% {
    bottom: 24px;
    right: 24px;
    left: 4px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
  }
}

.dijkstra, .astar, .bfs, .dfs {
  animation-duration: 1s ease-out alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  border-radius: 100%;
}

.dijkstra {
  animation-name: pathOfdijkstra;
}

.bfs {
  animation-name: pathOfbfs;
}

.dfs {
  animation-name: pathOfdfs;
}

.astar {
  animation-name: pathOfastar;
}

@keyframes pathOfdijkstra {
  0% {
    transform: scale(0.6);
    background-color: #dc6600;
  }

  50% {
    transform: scale(1.2);
    background-color: #dc6600;
  }

  100% {
    transform: scale(1);
    background-color: #dc6600;
  }
}


@keyframes pathOfbfs {
  0% {
    transform: scale(0.6);
    background-color: rgb(166, 106, 255);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(195, 106, 255);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 106, 253);
  }
}

@keyframes pathOfdfs {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 0, 0);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(247, 93, 10);
  }

  100% {
    transform: scale(1);
    background-color: rgb(250, 17, 17);
  }
}

@keyframes pathOfastar {
  0% {
    transform: scale(0.6);
    background-color: rgb(106, 255, 116);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(0, 255, 47);
  }

  100% {
    transform: scale(1);
    background-color: rgb(0, 255, 4);
  }
}