.App {
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior: none;
  background-color: #282c34;
}

.banner {
  background-image: url('../Assets/BannerImage.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner h1 {
  font-size: 2.6em;
  font-weight: bold;
  color: #6C0345;
}
